In [2]:
import sqlite3
from sqlite3 import Error
from contextlib import closing
from mysql.connector import connect, Error
import os
from dotenv import load_dotenv
load_dotenv()

### Creating table for all the details

In [17]:
with closing(sqlite3.connect('BigDataChallenge.sqlite')) as cnxn:
    cnxn.execute("Drop table Details")

In [18]:
create_table_sql = """
Create table Details (
    Tweet_ID INTEGER Primary Key, 
    Language text,
    Geolocation_coordinate text,
    RT text,
    Likes int,
    Retweets int,
    Country text,
    Date_Created text)
"""
with closing(sqlite3.connect('BigDataChallenge.sqlite')) as cnxn:
    cnxn.execute(create_table_sql)

### Creating table for all the Hashtag

In [10]:
create_table_sql = """
Create table Hashtag (
    Tweet_ID INTEGER Primary Key, 
    Hashtag text)
"""
with closing(sqlite3.connect('BigDataChallenge.sqlite')) as cnxn:
    cnxn.execute(create_table_sql)

In [11]:
create_table_sql = """
Create table Mentions (
    Tweet_ID INTEGER Primary Key, 
    Mentions text)
"""
with closing(sqlite3.connect('BigDataChallenge.sqlite')) as cnxn:
    cnxn.execute(create_table_sql)

In [12]:
create_table_sql = """
Create table NER (
    Tweet_ID INTEGER Primary Key, 
    NER_Text text,
    Start_Pos int,
    Eng_Pos int,
    NER_Label text,
    Prob int)
"""
with closing(sqlite3.connect('BigDataChallenge.sqlite')) as cnxn:
    cnxn.execute(create_table_sql)

In [13]:
create_table_sql = """
Create table Sentiment (
    Tweet_ID INTEGER Primary Key, 
    Sentiment_Label text,
    Logits_Neutral int,
    Logits_Positive int,
    Logits_Negative int)
"""
with closing(sqlite3.connect('BigDataChallenge.sqlite')) as cnxn:
    cnxn.execute(create_table_sql)

In [27]:
db='BigData'
with closing(connect(
    host="localhost",
    user=os.getenv('USERNAME1'),
    password=os.getenv('PASSWORD1'),
    database=db)) as cnxn:
    with cnxn.cursor() as cursor1:
        cursor1.execute('select count(*) from Sentiment')
        print(cursor1.fetchall())

[(20230000,)]

In [22]:
db='BigData'
connection = connect(
    host="localhost",
    user=os.getenv('USERNAME1'),
    password=os.getenv('PASSWORD1'),
    database=db)

cursor = connection.cursor()
cursor.exec
print(cursor.execute('select * from Sentiment').fetchall())

AttributeError: 'NoneType' object has no attribute 'fetchall'

In [24]:
create_table_sql = """
Alter Table Sentiment
    RENAME tweet_content to DateCreated

"""
with closing(sqlite3.connect('BigDataChallenge.sqlite')) as cnxn:
    cnxn.execute(create_table_sql)

In [37]:
create_table_sql = """
Select * from Sentiment

"""
count =10000
with closing(sqlite3.connect('BigDataChallenge.sqlite')) as cnxn:
     with closing(cnxn.cursor()) as cursorUpdater:
        cursorUpdater.executemany('update Sentiment set Created_at = ?, location = ?, followers_count = ?, RT = ?, User_id = ? where Tweet_ID = ?', [['asd', 'asd', 123, 'asd', 123, 1289350162754674689], ['asd', 'asd', 123, 'asd', 123, 1289351271363694592]])
        cnxn.commit()